.exit-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "MinecraftFont", sans-serif;
  color: white;
  background: linear-gradient(to bottom, #777, #555);
  border: 3px solid black;
  text-shadow: 2px 2px black;
  box-shadow: 4px 4px 0px black;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.exit-button:hover {
  background: linear-gradient(to bottom, #999, #777);
  box-shadow: 2px 2px 0px black;
  transform: translate(2px, 2px);
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.551);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.confirmation-popup {
  background: rgba(0, 0, 0, 0.551);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "MinecraftFont", sans-serif;
}

.confirmation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.confirm-button,
.cancel-button {
  padding: 10px 15px;
  margin: 0 10px;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "MinecraftFont", sans-serif;
  text-shadow: 2px 2px black;
  box-shadow: 4px 4px 0px black;
  transition: all 0.1s ease-in-out;
}

.confirm-button {
  background: linear-gradient(to bottom, #4caf50, #45a049);
  color: white;
}

.cancel-button {
  background: linear-gradient(to bottom, #f44336, #d32f2f);
  color: white;
}

.confirm-button:hover,
.cancel-button:hover {
  box-shadow: 2px 2px 0px black;
  transform: translate(2px, 2px);
}